* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;       /* 100% of the Viewport Height */
  font-family: sans-serif;
  background-color: white;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

input {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 9px;
  cursor: pointer;
}

#taskList {
  margin-top: 20px;
}