body {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: flex-start; /* Keeps the app at the top (standard for apps) */
  min-height: 100vh;      /* Makes the body the full height of the screen */
  margin: 0;     /* Gives some space at the top */
}

#container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#inputSection {
  display: flex;
  gap: 10px;
}

#inputSection input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#inputSection button {
  padding: 0 20px;     /* 7. Width based on text + padding */
  background: #6366f1;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#taskList {
  list-style: none;    /* 1. Remove bullet points */
  padding: 0;          /* 2. Remove default browser indentation */
  margin: 0;    /* 3. Space between input section and list */
  display: flex;
  flex-direction: column;           /* 4. Equal space between every task box */
}